body {
    background-color: pink;
  }
  
  h2 {
    color:blueviolet;
    text-align: center;

  }
  h1 {
    color: red;
    text-align: right;

  }
  
  p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
  }